/* Fonts */
@font-face {
    font-family: DIN;
    font-weight: 300;
    src: url(../fonts/din-light-webfont.woff);
}

@font-face {
    font-family: DIN;
    font-weight: normal;
    src: url(../fonts/din-regular-webfont.woff);
}

@font-face {
    font-family: DIN;
    font-weight: bold;
    src: url(../fonts/din-bold-webfont.woff);
}

body {
    font-family: DIN;
    font-size:12pt;
    font-weight:300;
    color:#000;
    background-color:#f4f4f4
}

.fadein-div{

    background-color: #FFF;
    z-index:10000;
    -webkit-animation-name: fadein;
    -webkit-animation-duration: 1s;
    animation-name: fadein;
    animation-duration: 1s;
}
@keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}

body#index{
    display:flex;
    align-items:center;
    background-color:#F4F4F4;
}

.navbar-header{
    margin-top: -12.5pt;
    height: 100px;
    display:flex;
    align-items:center;
}

.navbar{
    display:flex;
    align-items:center;
    height:100px;
    background-color:#F4F4F4;
    border:0px;
}


.navbar-inverse .navbar-nav>li>a {
    display:flex;
    align-items:center;
    height: 100px;
    text-decoration:none;
    background-color: transparent;

}

.nav, .navbar-nav{
    display:flex;
    align-items:center;
    height:100%;
    float:right;
}

.navbar-brand:hover{
    padding:15px;
}

.navbar-inverse .navbar-nav>li>a:hover {
    padding-bottom:12px;
    height:97px;
    display:flex;
    align-items:center;
    color: #000;
    height: 100px;
    background-color: transparent;
    text-decoration:none;
    border-bottom: 3px solid #000;
}

.navbar-inverse .navbar-nav>li>a.active {
    padding-bottom:12px;
    height:97px;
    display:flex;
    align-items:center;
    color: #000;
    height: 100px;
    background-color: transparent;

    border-bottom: 3px solid #000;
}

img{
    width:100%;
}

.contact-btn{
    background-color:#000;
    border-radius:0%;
    border:0;
    padding: 6px 6px 3px 6px;
}

.contact-btn-inner, .contact-btn-inner:hover, .contact-btn-inner:visited{
    color:#fff;
    text-decoration:none;
    font-weight:300;
    font-size:12pt;
    padding-left: 20px;
    padding-right: 20px;
}

a.introlink, a.introlink:visited{
    font-family: DIN;
    font-weight: 300;
    font-size:35pt;
    color:#6E6E6E;
    text-decoration:underline;
    border:0;
}

a.introlink:hover{
    font-family: DIN;
    font-weight: 300;
    font-size:35pt;
    color:#444444;
    border:0;
    padding:0;
}

a, a:visited{
    font-family: DIN;
    font-weight: 300;
    color:#6E6E6E;
    text-decoration:underline;
    border:0;
}

a:hover{
    font-family: DIN;
    font-weight: 300;
    color:#444444;
    border:0;
    padding:0;
}

#intro{
    opacity:1;
    margin-top:120px;
    -webkit-animation-name: intro;
    -webkit-animation-duration: 1s;
    animation-name: intro;
    animation-duration: 1s;
}
@keyframes intro {
    from {
        opacity:0;
        margin-top:0px;
    }
    to {
        opacity:1;
        margin-top:120px;
    }
}

#cv-header{
    width: 100%;
    min-height: 321px;
    margin: 0;
    background-image:url(../images/cv_header.png)
}

.cv-title{
    text-align:right;
}

.project-title{
    font-size:20pt;
    font-weight:bold;
}

.spaced img{
    margin-bottom: 40px;
}

h1{
    font-family: DIN;
    font-weight: bold;
    font-size:50pt;
}
h2{
    font-family: DIN;
    font-weight: 300;
    font-size:50pt;
    line-height:1.1em;
}

h3{
    font-family: DIN;
    font-weight: 300;
    font-size:35pt;
}

.overlay{
    position: absolute;
    display:flex;
    align-items:center;
    font-size:14pt;
    color:#fff;
    opacity: 0;
    min-height: calc(100% - 30px);
    min-width: calc(100% - 60px);
    margin-top: 15px;
    margin-left: 15px;
    background-color:rgba(0,0,0,0.8);
}
.overlay-inner{
    padding-left:30px;
    padding-right:30px;
    align-items:center;
    font-size:14pt;
    color:#fff;

}

.portfolio-item {
    margin-bottom: 25px;
}

.portfolio-item:hover .overlay {
    opacity:1;
}

.project-inner-header{
    width:100%;
    height:75px;
    display:flex;
    align-items:center;
    justify-content:center;
}

footer {
    margin-top:70px;
    font-size:12pt;
    display:flex;
    align-items:center;
    height:200px;
    background-color:#F4F4F4;
}
