@fontface {
  font-family: 'supply-light';
  src:url('/fonts/supply-light.otf');
  font-weight: 300;
}
@fontface {
  font-family: 'supply-bold';
  src:url('/fonts/supply-bold.otf');
  font-weight: 600;
}
html{
  overflow-x: hidden;
}

body{
  margin:0;
  font-family: 'supply-light', monospace;
  font-weight: 300;
}

#welcome-text{
  font-size: 20px;
  position: fixed;
  position: fixed;
  padding:0 30px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
#welcome-text p{
  font-size: 20px;
  justify-content: center;
  align-items: center;
  margin: 3px 0;
}

.works-h{
  background-image: url('img/works-bg.png');
  background-size: cover;
  background-position: center bottom;
  background-attachment: fixed;
  background-repeat: no-repeat;
}

.about-h{
  background-image: url('img/about-bg.png');
  background-size: cover;
  background-position: center bottom;
  background-attachment: fixed;
  background-repeat: no-repeat;
}

.music-h{
  background-image: url('img/music-bg.png');
  background-size: cover;
  background-position: center bottom;
  background-attachment: fixed;
  background-repeat: no-repeat;
}

.works-hdiv{
  background-image: url('img/works-hl.png');
  background-size: 370px 96px;
  background-position: center center;
  background-repeat: no-repeat;
}

.about-hdiv{
  background-image: url('img/about-hl.png');
  background-size: 370px 96px;
  background-position: center center;
  background-repeat: no-repeat;
}

.music-hdiv{
  background-image: url('img/music-hl.png');
  background-size: 370px 96px;
  background-position: center center;
  background-repeat: no-repeat;
}

section{
  padding:0;
  width:100vw;
  height:100vh;
}
.works{
  background-image: url('img/works.png');
  background-size: 370px 96px;
  background-position: center center;
  background-attachment: fixed;
  background-repeat: no-repeat;
}
.about{
  background-image: url('img/about.png');
  background-size: 370px 96px;
  background-position: center center;
  background-attachment: fixed;
  background-repeat: no-repeat;
}
.music{
  background-image: url('img/music.png');
  background-size: 370px 96px;
  background-position: center center;
  background-attachment: fixed;
  background-repeat: no-repeat;
}
