body {background: #fff url('background.jpg') repeat scroll top center; margin: 0px 0px 0px 0px;}
div.content { background: url('table_middle.png') repeat-y scroll top center; margin: 0px 0px 0px 0px; position: relative; font-family: Verdana, Arial CE; font-size: 12px; color: #444; margin: 0px 0px 0px 0px; text-align: justify; width: 1020px;}
td { font-family: Verdana, Arial CE; font-size: 12px; color: #444; }
a { text-decoration: none; color: #c3124b; }
a:hover { text-decoration: none; color: #c3124b; }