@media (max-width: $screen-xs-max) {
	html,body {
		font-size: 14px;
	}

	.header {
		&-cuccok {
			display: none;
		}

		body:not(.fooldal) & {
			height: 60vw;
			background-size: cover !important;
			background-position: 0 0 !important;
			margin-bottom: $grid-gutter-width;

			&::after {
				display: none;
			}
		}

		&-hl {
			margin: 0;
		}

		&-hl-image {
			height: auto;
			width: 80vmin;
		}

		&::after {
			height: auto;
		}
	}

	.fooldal {
		&-headliners {
			margin-top: 20vmin;
		}

		&-headliner {
			font-size: 3vmin;
		}

		.header {
			height: auto;
			min-height: 70vh;
			padding-bottom: 2em;
		}

		@at-root .footer,
		&-gasztro,
		&-nemzene {
			background-size: cover !important;
		}

		&-gasztro-kocka {
			width: 80vw;
			height: 34vw;
			margin: 15px 30px;
		}
	}

	.section-cim {
		font-size: 22px;
	}

	.hirek-listaelem {
		margin-bottom: $grid-gutter-width !important;

		&-cim {
			font-size: 24px;
		}
	}

	.nemzene-listaelem {
		margin-bottom: $grid-gutter-width;

		&-datum {
			flex-shrink: 0;
		}
	}

	h1, .h1, h2, .h2, h3, .h3 {
		font-size: 24px;
	}

	.footer-sm {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
	}

	.footer-sm-link {
		margin-top: 1em;
	}

	.footer-link {
		flex-basis: 40%;
		margin-top: 1em;

		&:nth-of-type(even) {
			text-align: right;
		}
	}

	.hirek-lista-grid {
		display: flex;
		flex-direction: column;
	}

	.nav-tabs {
		display: flex;
		flex-direction: column;

		>li {
			margin-bottom: 0;
		}

		>li>a {
			font-size: 4.5vw;
		}

		>li+li {
			margin-left: 0;
		}
	}

	.jegy {
		align-items: center;

		&-reszletek {
			text-align: center;
		}

		&-nev,
		&-ar {
			font-size: 16px;
		}
	}

	.programtabla {
		font-size: 14px;

		/*
		> thead:first-child > tr:first-child > th:first-child {
			position: absolute;
			display: inline-block;
			height: 100%;
		}
		*/

		&-szinpad {
			height: 55px;
			background: $cyan;

			>th:first-child {
				position: absolute;
				display: inline-block;
				background: $cyan;
				height: 55px;
				width: calc(100% - #{$grid-gutter-width});
			}
		}

		> tbody > tr:not(.programtabla-szinpad) > th:first-child,
		> tbody > tr:not(.programtabla-szinpad) > td:first-child {
			position: absolute;
			display: inline-block;
			background: $coral;
			width: 60px;
		}

		/*
		> thead:first-child > tr:first-child > th:nth-child(2) {
			padding-left: 40px;
		}
		*/

		> tbody > tr:not(.programtabla-szinpad) > th:nth-child(2),
		> tbody > tr:not(.programtabla-szinpad) > td:nth-child(2) {
			padding-left: 70px !important;
		}
	}

	.kontakt .szoveg ul {
		flex-direction: column;

		>li {
			width: 100%;
			flex-basis: 100%;
		}
	}
}

@media (max-width: $screen-xs) {

}

@media (max-width: $screen-xs-max) and (orientation: landscape) {
	.header-linkek {
		flex-direction: row;
	}

	.header-link {
		font-size: 4vmin !important;

		&+& {
			margin-left: 2em;
		}
	}

	.header-menupont {
		font-size: 4vmin;
	}
}