.tamogatas,
.kozlemeny{
	background-color: #134555;
	background-image: url(../images/2020/cuccok-elmarad.png), url(../images/2020/bg-elmarad.jpg);
	background-repeat: repeat-y, no-repeat;
	background-position: top center, bottom center;
	background-size: auto, cover;
}
.tamogatas .header,
.kozlemeny .header{
	height: 300px;
}
.tamogatas .header:after,
.kozlemeny .header:after{
	display: none;
}
.tamogatas .header-nav,
.kozlemeny .header-nav{
	display: block;
}
.tamogatas .header-logo,
.kozlemeny .header-logo{
	text-align: center;
}
.tamogatas .header-logo-img ,
.kozlemeny .header-logo-img {
    width: 336px;
}
.tamogatas .header-linkek,
.kozlemeny .header-linkek {
	position: absolute;
	top: 60px;
	width: 100%;
}
.tamogatas .footer,
.kozlemeny .footer{
	background-image: none;
	background-color: transparent;
}
.tamogatas article,
.kozlemeny article{
	max-width: 830px;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	padding-left: 15px;
	padding-right: 15px;
}
.tamogatas article *,
.kozlemeny article *{
	color: #fcecc8;
}
.tamogatas article img,
.kozlemeny article img{
    max-width: 100%!important;
    height: auto!important;
}
.tamogatas h2,
.kozlemeny h2{
	background: #d6602b;
    color: #fcecc8;
    margin: 0 auto;
    padding: 3px 8px;
    text-align: center;
    font-size: 26px;
}

.tamogatas blockquote,
.kozlemeny blockquote{
	max-width: 100%;
    text-transform: none;
    font-size: 16px;
    border: 1px solid #fcecc8;
    margin-top: 30px;
    color: #fcecc8;
}
@media (min-width: 1800px){
	.tamogatas .header-logo-img,
	.kozlemeny .header-logo-img{
		margin-top: -70px;
	}
}

@media (max-width: 1799px){
	.tamogatas .header-logo-img ,
	.kozlemeny .header-logo-img {
	    width: 200px;
	}
}

@media (max-width: 1259px){
	.tamogatas .header-linkek,
	.kozlemeny .header-linkek{
		top: 220px;
	}
	.tamogatas .header-logo-img,
	.kozlemeny .header-logo-img{
		height: auto;
	}
}

@media (max-width: 991px){
	.tamogatas .header,
	.kozlemeny .header{
		height: 180px!important;
	}
	.tamogatas .header-logo-img,
	.kozlemeny .header-logo-img{
		margin-top: -60px;
	}
}