.fooklub {
	$fooklub-footer-height: 29.89vw;

	color: #fff;
	min-height: $fooklub-footer-height + 58.64vw;
	background-image: url('../images/2019/bg-fooklub-top.jpg');
	background-position: 50% 0, 50% 100%;
	background-repeat: no-repeat, no-repeat;
	background-size: 100vw auto, 100vw auto;
	background-color: $fooklub-bg;
	display: flex;
	flex-direction: column;

	.header::after {
		display: none;
	}

	.footer {
		background-image: url('../images/2019/bg-fooklub-btm.jpg');
		height: $fooklub-footer-height;
	}

	.main-content {
		flex-grow: 1;
	}

	.szoveg {
		h1,h2,h3,h4,h5,h6 {
			font-weight: 700;
			color: #fff;
		}
	}

	.form-control {
		background: rgba(255,255,255,.4);
		border-color: transparent;
		box-shadow: none;
	}
}