.hirek-lista-grid {
	display: grid;
	grid-gap: $grid-gutter-width;
	grid-template-columns: repeat(auto-fill,minmax(calc(100% / 3 - 60px),1fr));
	grid-auto-rows: 10px;
}

.hirek-listaelem {
	.fooldal & {
		width: auto;
		float: none;
		border-bottom: 0;
		margin-bottom: 0;
		padding-bottom: 0;
	}

	&-datum {
		color: $zold;
		font-weight: bold;
		font-size: 14px;
	}

	&-cim {
		font-size: 30px;
		margin-bottom: 20px;
		text-transform: uppercase;
	}

	&-img {
		margin-bottom: 20px;
	}

	&-lead {
		line-height: 1.8;
	}

	hr {
		margin-bottom: 0;
		border-top-color: #c8c8c8;
	}
}

.hir {
	@extend .hirek-listaelem;

	&-cim {
		font-size: 40px;
	}

	&-lead {
		font-weight: bold;
		margin-bottom: 1em;
	}
}