.jegy {
	margin-bottom: $grid-gutter-width;

	&:nth-of-type(3n+1) {
		.jegy-ticket {
			background-image: url('../images/2020/jegy-bg-sarga.svg'), url('../images/2018/jegy-bg-shadow.svg');
		}

		.jegy-ar {
			color: $brand-danger;
		}
	}
	&:nth-of-type(3n+2) {
		.jegy-ticket {
			background-image: url('../images/2020/jegy-bg-zold.svg'), url('../images/2018/jegy-bg-shadow.svg');
		}

		.jegy-ar {
			color: $coral;
		}

		.jegy-nev{
			color: #f4e9b9;
		}
	}
	&:nth-of-type(3n) {
		.jegy-ticket {
			background-image: url('../images/2020/jegy-bg-piros.svg'), url('../images/2018/jegy-bg-shadow.svg');
		}

		.jegy-ar {
			color: #fff;
		}
	}
	&.elfogyott {
		color: #bdbdbd;

		.jegy-ticket {
			background-image: url('../images/2020/jegy-bg-elfogyott.svg'), url('../images/2018/jegy-bg-shadow.svg');

			&::before {
				content: 'Elfogyott';
				display: block;
				position: absolute;
				top: 50%;
				left: 50%;
				font-weight: 700;
				color: #fff;
				padding: 12px 24px;
				font-size: 24px;
				background: rgba(0,0,0,.6);
				transform: translate(-50%, -50%) rotate(-30deg);
				transform-origin: 50% 50%;
				text-transform: uppercase;
			}
		}
		
		.jegy-ar, .jegy-nev {
			color: #f4e9b9;
		}
	}

	&-ticket {
		width: 230px;
		height: 230px;
		flex-basis: 230px;
		flex-shrink: 0;
		margin-right: $grid-gutter-width;
		padding: $grid-gutter-width / 2;
		background-position: 0 0, 5px 9px;
		background-repeat: no-repeat, no-repeat;
		background-size: calc(100% - 5px) calc(100% - 9px), calc(100% - 5px) calc(100% - 9px);
		position: relative;
	}

	&-nev {
		font-size: 22px;
		color: $text-color;
		margin-top: 0;
	}

	&-ar {
		font-weight: 900;
		font-size: 22px;
	}

	&-btn {
		color: #fff;
		background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 137 32' preserveAspectRatio='none'%3E%3Cpath clip-rule='evenodd' fill='%23d6602b' d='M0 0l137 2-1 29L1 32 0 0z'/%3E%3C/svg%3E") 50% 50% no-repeat;
		background-size: 100% 100%;
	}
}