.nemzene-listaelem {
	&-datum {
		display: flex;
		flex-direction: column;
		color: $cyan;
		font-weight: bold;
		line-height: 1.1;
		text-align: center;
		text-transform: uppercase;
		width: 60px;
		margin-right: $grid-gutter-width / 2;

		.m {
			font-size: 14px;
		}

		.d {
			font-size: 46px;
		}

		.ido {
			font-size: 14px;
			color: $piros2;
			background: $coral;
			padding: 5px 0;
		}
	}

	&-cim a {
		@extend .inverz;

		&:hover, &:focus {
			color: $brand-primary;
		}
	}

	&-img {
		margin-bottom: 20px;
	}

	&-lead {
		line-height: 1.8;
	}

	hr {
		margin-bottom: 0;
		border-top-color: #c8c8c8;
	}
	.nemzene-subtitle{
		margin-top: 20px;
	}
}

.nemzene-lista-grid {
	display: grid;
	grid-gap: $grid-gutter-width;
	grid-template-columns: repeat(auto-fill,minmax(calc(100% / 3 - 60px),1fr));
	grid-auto-rows: 10px;
}