@import '//fonts.googleapis.com/css?family=Prompt:300,600,700,900&subset=latin-ext';

@font-face {
    font-family: 'Novecento sans wide Book';
    src: url('../fonts/Novecentosanswide-Bold.eot');
    src: url('../fonts/Novecentosanswide-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Novecentosanswide-Bold.woff2') format('woff2'),
        url('../fonts/Novecentosanswide-Bold.woff') format('woff'),
        url('../fonts/Novecentosanswide-Bold.ttf') format('truetype'),
        url('../fonts/Novecentosanswide-Bold.svg#Novecentosanswide-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'Eveleth';
    src: url('../fonts/EvelethRegular-Bold.eot');
    src: url('../fonts/EvelethRegular-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/EvelethRegular-Bold.woff2') format('woff2'),
        url('../fonts/EvelethRegular-Bold.woff') format('woff'),
        url('../fonts/EvelethRegular-Bold.ttf') format('truetype'),
        url('../fonts/EvelethRegular-Bold.svg#EvelethRegular-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
}


@import "../../vendor/owl.carousel/dist/assets/owl.carousel.min";
@import "../../vendor/owl.carousel/dist/assets/owl.theme.default.min";

@import "bootstrap";
@import "bootstrap-flexbox";

@import "animate";

@import "defaults";
@import "layout";
@import "header";
@import "fooldal";
@import "nemzene";
@import "szoveg";
@import "hirek";
@import "info";
@import "jegyek";
@import "programok";
@import "programtabla";
@import "fooklub";
@import "kontakt";
@import "sajto";
@import "elmarad";
@import "dicsosegfal";

@import "app-md";
@import "app-breakpoint";
@import "app-sm";
@import "app-xs";

@import "../../vendor/photoswipe/photoswipe";
@import "../../css/default-skin";