body{
    display: flex;
    /*min-height: 100vh;*/
    flex-direction: column;
    position: relative;
    /*height: 100%;*/
}
main {
    flex: 1 0 auto;
	padding-bottom: 145px;
}
nav .brand-logo{
    padding: 0 0 0 10px;
}
hr.admin-hr{margin-bottom:0}
.mdl-layout.is-upgraded .mdl-layout__tab.is-active::after{
    background-color: #EF5350 /*#F44336*/;
}
.mdl-textfield__input{
    border-bottom: 1px solid #fff;
}
.mdl-textfield__input.form{
    border-bottom: 1px solid rgba(0,0,0, 0.12);
}
.mdl-layout__header-row{
    /*height: 100px;*/
}
.contact-avatar{
    height: auto;
    width:80%;
    border-radius: 50%;
    margin: 0 auto;
}
.mdl-card__supporting-text{
    min-height: 36px;
}
.settings{
    padding: 5px 10px
}
.mdl-textfield{
    max-width:none;
    width:100%;
}
ul.cat-list{
    display: inline;
    max-width: 100%;
}
ul.cat-list li{
    float: left;
}
i#form{
    font-size: 16px;
}
/*FOOTER*/
.mdl-mini-footer{
    bottom:0;
    position: absolute;
    width: 100%;
	padding-top: 54px;
	padding-bottom: 54px;
}

#add{/*
    position: fixed;
    right: 40px;
    bottom: 18px;/*30*/
    /*z-index: 999;*/
}
.add-buttons{
	position: fixed;
    bottom: 0;
    right: 2%;
    z-index: 999;
    list-style: none;
}
section.section--center{
    max-width: 80%;
    margin-bottom: 48px;
}
img.fixi{
    border:none;
    width: 200px;
    height:auto;
    min-height:200px;
    background-color:#b2dfdb;
}
.mdl-button--fab{
    margin: 5px 5px 5px auto
}
.mdl-card__supporting-text{
    width: 93%;
    padding-bottom: 0;
}
.mdl-card__title.single{
    width:100%;
    height:176px;
    background-size: cover;
    background-position: center;
    /*background-color: #b2dfdb;*/
    background-color: #E53935;
    color:#fff;
    align-self: flex-end;
    -webkit-align-self: flex-end;
    padding:0
}
h2.mdl-card__title-text.single{
    align-self: flex-end;
    -webkit-align-self: flex-end;
    width:100%;
    background-color: rgba(0,0,0,0.2);
    padding:5px;
}
span.mdl-chip.mdl-chip--contact.single{
    position: absolute;
    right: 5px;
}
p.admin-p{
    margin: 0;
}