.expense-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px;
    margin: 1rem 0;
    background-color: #fff;
  }
  
  .expense-item-details {
      display: flex;
      align-items: center;
      gap: 16px;
  }

  .expense-item-name {
    font-size: 20px;
  }

  .expense-item-amount {
    font-size: 20px;
  }

  .expense-item-amount-wrapper {
    display: flex;
    align-items: center;
    gap: 16px;
  }

  .expense-item-amount::before {
    content: "- €"
  }

  .icon {
      width: 48px;
      height: 48px;
      background-color: #EA2;
      font-size: 28px;
      color: #fff;
      border-radius: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
  }

  @media (min-width: 580px) {

  }